@{
    Layout = "~/Views/MasterView/Main.cshtml";
}

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader"></div>
    <div class="XCLPanelBody" style="border-top: none;">
        <table id="tableSysDicList" style="height: auto;"></table>

        <div id="menu_SysDic" class="easyui-menu" style="width:120px;">
            <div id="menu_SysDic_refresh" data-options="iconCls:'icon-reload'">刷新节点</div>
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysDicAdd))
            {
            <div id="menu_SysDic_add" data-options="iconCls:'icon-add'">添加子项</div>
            }
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysDicEdit))
            {
            <div id="menu_SysDic_edit" data-options="iconCls:'icon-edit'">修改节点</div>
            }
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysDicDel))
            {
                <div id="menu_SysDic_del" data-options="iconCls:'icon-cancel'">删除节点</div>
                <div id="menu_SysDic_delSub" data-options="iconCls:'icon-cancel'">清空子节点</div>
            }
        </div>
    </div>
</div>

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader XCLBolder">
        操作说明：
    </div>
    <div class="XCLPanelBody">
        <ul>
            <li>1、在配置系统菜单时，根据需要，为其配置一个功能权限，便于不同角色的用户显示不同的菜单。</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    require(["Lib/SysDic"], function (sysDic) {
        $(function () {
            sysDic.SysDicList.Init();
        });
    });
</script>