@{
    Layout = "~/Views/MasterView/Simple.cshtml";
}

@section CustomHeader
{
    
    <style type="text/css">
        .XCLUploadFile .trTitle
        {
            font-size:15px;
            font-weight:bolder;
            text-align:center;
        }
        .XCLUploadFile .UploadItemDiv
        {
            height:500px;
            overflow:auto;
            border:solid 1px #ccc;
        }
        .XCLUploadFile .UploadItemDiv ul
        {
            
        }
        .XCLUploadFile .UploadItemDiv li
        {
            width:230px;
            text-align:center;
            list-style:none;
            list-style-position:inside;
            float:left;
            border:solid 1px #ccc;
            margin:5px;
            padding:3px;
        }
        .XCLUploadFile .UploadItemDiv .itemContent
        {
            height:180px;
            line-height:180px;
        }
        .XCLUploadFile .UploadItemDiv .itemDescription
        {
            height:40px;
            border-top:solid 1px #ccc;
            overflow:hidden;
        }
        .XCLUploadFile .UploadItemDiv .itemBottom
        {
            height:20px;
            text-align:center;
            border-top:solid 2px #ccc;
        }
</style>

    }


<div id="tabFileUpload" class="easyui-tabs" data-options="fit:true">  
    <div title="选择文件">  
        <div style="padding:5px" class="XCLUploadFile">
            <div class="XCLNote">您当前已添加3个文件，最多可以添加{0}个{0}的文件。</div>
            <div class="UploadItemDiv">
                <ul id="ItemsUL"></ul>
            </div>
            <div style="padding:10px;">
                <div style="text-align:left;width:20%;float:left;">
                    <input type="checkbox" />全选
                </div>
                <div style="text-align:right;width:80%;float:left;">
                    <a href="javascript:void(0);" class="easyui-linkbutton " data-options="iconCls:'icon-cancel'">删除已选项</a>
                    <a href="javascript:void(0);" id="btnAddFile" class="easyui-linkbutton " data-options="iconCls:'icon-add'">添加文件</a>
                    <a href="javascript:void(0);" id="btnUploadFile" class="easyui-linkbutton " data-options="iconCls:'icon-ok'">开始上传</a>
                </div>
            </div>
        </div>  
    </div>
</div>  

<!--文件选择模板-->
<script type="text/html" id="fileItemTemp">
    {{each FileModelList as m i}}
        <li>
            <div class="itemContent">
                <img{{}} src="{{m.ImgSmallPath}}" id="{{m.Id}}"/>
            </div>
            <div class="itemDescription">
                大小：{{m.Size}}，格式：{{m.Format}}<br />
                文件名：{{m.Name}}
            </div>
            <div class="itemBottom">
                <input type="checkbox" />
                <a href="javascript:void(0);" rel="fileEdit" xcl-Id="{{m.Id}}">编辑</a>
                <a href="javascript:void(0);" rel="fileDel">删除</a>
            </div>
        </li>
    {{/each}}
</script>
    
<!--图片编辑模板-->
<script type="text/html" id="divEditFileTemp">
    <table class="XCLTableEdit">
        <tr>
            <td align="center" style="vertical-align:top;">
                <fieldset>
                    <legend class="XCLGray">原图：</legend>
                    <div>
                        <div>
                            <img src="{{ImgBigPath}}" id="ImgToEdit" />
                        </div>
                        <div style="padding:5px;">
                            <a href="javascript:void(0);" class="easyui-linkbutton" id="btnShowSource">查看原图</a>
                        </div>
                    </div>
                </fieldset>
            </td>
            <td style="vertical-align:top;">
                <div>
                    <fieldset>
                        <legend class="XCLGray">当前预览图属性：</legend>
                        <div>
                            宽高：{{ImgPreviewWidth}}*{{ImgPreviewHeight}}，预览比例（与原图比较）：{{ImgPreviewRatio}}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="XCLGray">原图属性：</legend>
                        <div>
                            宽高：{{ImgWidth}}*{{ImgHeight}}，大小：{{Size}}，文件名：{{Name}}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="XCLGray">裁剪后的属性：</legend>
                        <div id="divImgCropInfo"></div>
                    </fieldset>
                    <fieldset>
                        <legend class="XCLGray">文件信息：</legend>
                        <div>
                            <table class="XCLTableEdit">
                                <tr>
                                    <td class="XCLTitle" width="20%">文件名：</td>
                                    <td width="30%">
                                        <input type="text" value="{{Name}}"/>
                                    </td>
                                    <td width="20%"></td>
                                    <td width="30%"></td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="XCLGray">缩略图设置（在裁剪后的图片的基础上，再生成缩略图）：</legend>
                        <div>
                            <div class="dynamicCon">
                                <table class="XCLTableEdit">
                                    <tr class="XCLTableHeader">
                                        <td width="50%">指定宽高</td>
                                        <td width="20%">是否等比缩放</td>
                                        <td width="10%">是否为主图</td>
                                        <td width="20%">操作</td>
                                    </tr>
                                    <tr class="temp">
                                        <td>
                                            宽：<input type="text" value="" style="width:50px;"/>px，
                                            高：<input type="text" value="" style="width:50px;"/>px
                                        </td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="radio" />
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(0);" class="addBtn">添加</a>
                                            <a href="javascript:void(0);" class="delBtn">删除</a>
                                        </td>
                                    </tr>
                                    <tr class="items">
                                        <td>
                                            宽：<input type="text" value="" style="width:50px;"/>px，
                                            高：<input type="text" value="" style="width:50px;"/>px
                                        </td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="radio" />
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(0);" class="addBtn">添加</a>
                                            <a href="javascript:void(0);" class="delBtn">删除</a>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                            <div>
                                <br />
                                注：若不操作裁剪，则主图为原图；若操作裁剪，则主图为裁剪后的图片；若在缩略图设置中选择了主图选项，则该图即作为主图！
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="XCLHandBar">
                    <a id="btnSaveEdit" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
            </div>
            </td>
        </tr>
    </table>
</script>

<!--新窗口查看图片模板-->
<script id="divShowImgTemp" type="text/html">
    <form action="@(XCLCMS.View.AdminWeb.Common.WebCommon.RootURL)Common/ShowImg" method="post" target="_blank" id="formShowImg">
        <input type="hidden" name="ImgSrc" value="{{ImgSrc}}" />
    </form>
</script>

<script type="text/javascript">
    require(["Lib/Uploader"], function (uploader) {
        $(function () {
            uploader.Add.Init();
        });
    });
</script>