@{
    Layout = "~/Views/MasterView/Main.cshtml";
}

<form>


<div class="XCLPanel" style="margin-top:5px;">
    <div class="XCLPanelHeader"></div>
    <div class="XCLPanelBody">
        <table id="tableSysFunctionList" style="height: auto;"></table>

        <div id="menu_SysFunction" class="easyui-menu" style="width:120px;">
            <div id="menu_SysFunction_refresh" data-options="iconCls:'icon-reload'">刷新节点</div>
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysFunctionAdd))
            {
            <div id="menu_SysFunction_add" data-options="iconCls:'icon-add'">添加子项</div>
            }
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysFunctionEdit))
            {
            <div id="menu_SysFunction_edit" data-options="iconCls:'icon-edit'">修改节点</div>
            }
            @if(XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_Set_SysFunctionDel))
            {
                <div id="menu_SysFunction_del" data-options="iconCls:'icon-cancel'">删除节点</div>
                <div id="menu_SysFunction_delSub" data-options="iconCls:'icon-cancel'">清空子节点</div>
            }
        </div>
    </div>
</div>

</form>

<script type="text/javascript">
    require(["Lib/SysFunction"], function (sysFunction) {
        $(function () {
            sysFunction.SysFunctionList.Init();
        });
    });
</script>
