@{
    Layout = "~/Views/Layout/Main.cshtml";
}

<div id="tabFileUpload" class="easyui-tabs" style="width:100%;height:750px;">
    <div title="选择文件">
        <div style="padding:5px" class="XCLUploadFile">
            <div class="XCLNote" id="fileNote"></div>
            <div class="UploadItemDiv">
                <ul id="ItemsUL"></ul>
            </div>
            <div class="easyui-progressbar" id="fileUploaderProgress" data-options="value:0,text:'文件上传进度：{value}%'" style="width:100%;"></div>
            <div style="padding:10px;">
                <div style="text-align:right;">
                    <a href="javascript:void(0);" id="btnClear" class="easyui-linkbutton " data-options="iconCls:'icon-clear'" style="width:100px;">清空</a>
                    <a href="javascript:void(0);" id="btnAddFile" class="easyui-linkbutton " data-options="iconCls:'icon-add'" style="width:100px;">添加文件</a>
                    <a href="javascript:void(0);" id="btnUploadFile" class="easyui-linkbutton " data-options="iconCls:'icon-ok'" style="width:100px;">开始上传</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--提示模板-->
<script type="text/html" id="fileNoteTemp">
    您当前已添加{{FileCount}}个文件。
</script>

<!--文件选择模板-->
<script type="text/html" id="fileItemTemp">
    {{each FileModelList as m i}}
    <li>
        <div class="itemContent">
            {{if m.IsImage}}
            <img{{}} src="{{m.ImgSmallPath}}" id="{{m.Id}}" />
            {{else}}
            <img{{}} src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/document.png" id="{{m.Id}}" />
            {{/if}}
        </div>
        <div class="itemDescription">
            大小：{{m.Size}}，格式：{{m.Format}}<br />
            文件名：{{m.Name}}
        </div>
        <div class="itemBottom">
            <a href="javascript:void(0);" rel="fileDetail" xcl-Id="{{m.Id}}">详情</a>
            <a href="javascript:void(0);" rel="fileEdit" xcl-Id="{{m.Id}}">编辑</a>
            <a href="javascript:void(0);" rel="fileDel" xcl-Id="{{m.Id}}">删除</a>
        </div>
    </li>
    {{/each}}
</script>

<!--图片编辑模板-->
<script type="text/html" id="divEditFileTemp">
    <div id="divEditFile">
        <table class="XCLTableEdit">
            <tr>
                {{if IsImage}}
                <td align="center" style="vertical-align:top;">
                    <fieldset>
                        <legend class="XCLGray">原图：</legend>
                        <div>
                            <div>
                                <img src="{{ImgBigPath}}" id="ImgToEdit" />
                            </div>
                            <div style="padding:5px;">
                                <a href="javascript:void(0);" class="easyui-linkbutton" id="btnShowSource">查看原图</a>
                            </div>
                        </div>
                    </fieldset>
                </td>
                {{/if}}
                <td style="vertical-align:top;">
                    <div>
                        {{if IsImage}}
                        <fieldset>
                            <legend class="XCLGray">当前预览图属性：</legend>
                            <div>
                                宽高：{{ImgPreviewWidth}}*{{ImgPreviewHeight}}，预览比例（与原图比较）：{{ImgPreviewRatio}}
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="XCLGray">原图属性：</legend>
                            <div>
                                宽高：{{ImgWidth}}*{{ImgHeight}}，大小：{{Size}}，文件名：{{Name}}
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="XCLGray">裁剪后的属性：</legend>
                            <div id="divImgCropInfo"></div>
                        </fieldset>
                        {{/if}}

                        <fieldset>
                            <legend class="XCLGray">文件信息：</legend>
                            <div>
                                <table class="XCLTableEdit">
                                    <tr>
                                        <td class="XCLTitle" width="20%">文件名：</td>
                                        <td width="30%">
                                            <input type="text" value="{{Name}}" />
                                        </td>
                                        <td width="20%"></td>
                                        <td width="30%"></td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>

                        {{if IsImage}}
                        <fieldset>
                            <legend class="XCLGray">缩略图设置（在裁剪后的图片的基础上，再生成缩略图）：</legend>
                            <div>
                                <div class="dynamicCon">
                                    <table class="XCLTableEdit">
                                        <tr class="XCLTableHeader">
                                            <td width="10%">序号</td>
                                            <td width="40%">指定宽高</td>
                                            <td width="20%">等比缩放</td>
                                            <td width="10%">是否为主图</td>
                                            <td width="20%">操作</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="btnEqualRatioAll">调整所有</a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="temp">
                                            <td align="center" class="dynamicCon-Index"></td>
                                            <td>
                                                宽：<input type="text" id="txtThumbWidth" name="txtThumbWidth" class="dynamicCon-autoCreateIdIndex" value="" style="width:50px;" />px，
                                                高：<input type="text" id="txtThumbHeight" name="txtThumbHeight" class="dynamicCon-autoCreateIdIndex" value="" style="width:50px;" />px
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="btnEqualRatio">调整</a>
                                            </td>
                                            <td align="center">
                                                <input type="checkbox" name="ckIsMain" />
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="addBtn">添加</a>
                                                <a href="javascript:void(0);" class="delBtn">删除</a>
                                            </td>
                                        </tr>
                                        {{each ThumbImgSettings as m i}}
                                        <tr class="items">
                                            <td align="center" class="dynamicCon-Index"></td>
                                            <td>
                                                宽：<input type="text" id="txtThumbWidth" name="txtThumbWidth" class="dynamicCon-autoCreateIdIndex" value="{{m.Width}}" style="width:50px;" />px，
                                                高：<input type="text" id="txtThumbHeight" name="txtThumbHeight" class="dynamicCon-autoCreateIdIndex" value="{{m.Height}}" style="width:50px;" />px
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="btnEqualRatio">调整</a>
                                            </td>
                                            <td align="center">
                                                <input type="checkbox" name="ckIsMain" {{if m.IsMain}} checked="checked" {{/if}} />
                                            </td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="addBtn">添加</a>
                                                <a href="javascript:void(0);" class="delBtn">删除</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </table>
                                </div>
                                <div>
                                    <br />
                                    注：若不操作裁剪，则主图为原图；若操作裁剪，则主图为裁剪后的图片；若在缩略图设置中选择了主图选项，则该图即作为主图！
                                </div>
                            </div>
                        </fieldset>
                        {{/if}}
                    </div>
                    <div class="XCLHandBar">
                        <a id="btnSaveEdit" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存设置</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="divShowImg" style="display:none;"></div>
</script>

<!--文件详情查看模板-->
<script type="text/html" id="divFileDetailTemp">
    <table class="XCLTableEdit">
        <tr>
            <td class="XCLTitle">文件名：</td>
            <td>{{Name}}</td>
            <td class="XCLTitle">大小：</td>
            <td>{{Size}}</td>
            <td class="XCLTitle">格式：</td>
            <td>{{Format}}</td>
        </tr>
    </table>
</script>

<!--新窗口查看图片模板-->
<script id="divShowImgTemp" type="text/html">
    <form action="@Url.Action("ShowImg","Common")" method="post" target="_blank" id="formShowImg">
        <input type="hidden" name="ImgSrc" value="{{ImgSrc}}" />
    </form>
</script>

<script type="text/javascript">
    $(function () {
        app.Add.Init();
    });
</script>