@{
    Layout = "~/Views/MasterView/Main.cshtml";
}
<div class="XCLPanel" style="margin-top:5px;">
    <div class="XCLPanelBody">
        <ul>
            <li>欢迎使用XCLCMS后台管理系统</li>
            <li>本系统从2014年10月开始构建，至今已有【@((long)(DateTime.Now - new DateTime(2014, 10, 1)).TotalDays)】天。</li>
            <li>
                GitHub：<a href="https://github.com/xucongli1989/XCLCMS" target="_blank">https://github.com/xucongli1989/XCLCMS</a>
            </li>
            <li>
                Email：<a href="mailto:80213876@qq.com" target="_blank">80213876@qq.com</a>
            </li>
        </ul>
    </div>
</div>