<title>XCLCMS文件管理</title>
<meta name="viewport" content="width=device-width" />

<link href="~/Resources/Css/Base.css" rel="stylesheet" />

<script src="~/Resources/Js/json2.js"></script>
<script src="~/Resources/Js/Jquery/jquery-1.11.2.js"></script>

<script src="~/Resources/Js/artDialog/artDialog.js?skin=blue"></script>
<script src="~/Resources/Js/artDialog/plugins/iframeTools.js"></script>
<script src="~/Resources/Js/artTemplate/template.js"></script>

<link href="~/Resources/Js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Resources/Js/bootstrap/js/bootstrap.min.js"></script>

<script src="~/Resources/Js/Angularjs/angular.min.js"></script>

<script src="~/Resources/Js/XGoAjax.js"></script>
<script src="~/Resources/Js/XGoAjaxTemplate.js"></script>

<link href="~/Resources/Js/Jcrop/css/jquery.Jcrop.css" rel="stylesheet" />
<script src="~/Resources/Js/Jcrop/js/jquery.Jcrop.js"></script>

<script src="~/Resources/Js/plupload/moxie.min.js"></script>
<link href="~/Resources/Js/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" />
<script src="~/Resources/Js/plupload/plupload.full.min.js"></script>
<script src="~/Resources/Js/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>


<link href="~/Resources/Js/EasyUI/themes/icon.css" rel="stylesheet" />
<link href="~/Resources/Js/EasyUI/themes/default/easyui.css" rel="stylesheet" />
<script src="~/Resources/Js/EasyUI/jquery.easyui.min.js"></script>

<script src="~/Resources/Js/XJsTool.js"></script>

<script src="~/Resources/Js/XCheck.js"></script>

<script type="text/javascript">
    (function (config,go) {

        config.RootUrl="@XCLNetTools.StringHander.Common.RootUri";

        go.globalSettings({
            templateName: "artdialog",
            isExclusive:false
        });

    })(window.AppConfig = window.AppConfig || {}, $.XGoAjax);
</script>


<script src="~/Resources/Js/App.js"></script>

<script src="~/Resources/Js/ng/FileInfoController.js"></script>
<script src="~/Resources/Js/ng/UploadController.js"></script>