<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--应用号-->
  <add key="AppID" value="900104" />
  <add key="AppKey" value="39ECF62590EB4E57C1D8A0C4A36625D4"/>
  <add key="WebAPIJsUrl" value="http://localhost/XCLCMS.WebAPI/Resources/Js/XCLCMSWebApi.js"/>
  <add key="WebAPIServiceURL" value="http://localhost/XCLCMS.WebAPI/api/"/>

  <!--当前系统所在环境（XCLCMS.Lib.Common.Comm.SysEnvironmentEnum）-->
  <add key="SysEnvironment" value="DEV"/>
</appSettings>