@model XCLCMS.View.AdminWeb.Models.UserControl.FileSelectVM

<div id="@Model.ID">
    <a href="javascript:void(0);">选择文件</a>
    <input type="hidden" name="@Model.TxtName" value="@Model.TxtDefaultValue" />
</div>

