<?xml version="1.0" encoding="utf-8" ?>
<!--静态资源版本控制-->
<!--Version属性，建议在数据库中配置，而非固定在该配置文件中。-->
<StaticResourceConfig>
    <StaticResourceList>
        <StaticResource Type="ICON"  Name="icon"  Src="/Resources/Images/logo/favicon.ico" Version="" Attr=""></StaticResource>
        
        <StaticResource Type="CSS"  Name="base.css"  Src="/Resources/Css/base.css" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="jqurey"  Src="/Resources/Js/Jquery/jquery-1.11.1.min.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="CSS" Name="easyui_ico.css"  Src="/Resources/Js/EasyUI/themes/icon.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="CSS" Name="easyui.css"  Src="/Resources/Js/EasyUI/themes/default/easyui.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="easyui.js"  Src="/Resources/Js/EasyUI/jquery.easyui.min.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="CSS" Name="artDialog.css"  Src="/Resources/Js/artDialog/skins/blue.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="artDialog.js"  Src="/Resources/Js/artDialog/artDialog.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="artDialog.iframeTools.js"  Src="/Resources/Js/artDialog/plugins/iframeTools.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="artTemplate.js"  Src="/Resources/Js/artTemplate/template.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="table.js"  Src="/Resources/Js/table.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="GoAjax.js"  Src="/Resources/Js/GoAjax.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="XCLCMS.js"  Src="/Resources/Js/XCLCMS.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="validate.js"  Src="/Resources/Js/validate/jquery.validate.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="XCLValidatorMethod.js"  Src="/Resources/Js/validate/XCLValidatorMethod.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="metadata.js"  Src="/Resources/Js/jquery.metadata.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="readmore.js"  Src="/Resources/Js/readmore.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="WdatePicker.js"  Src="/Resources/Js/WdatePicker/WdatePicker.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="dynamicCon.js"  Src="/Resources/Js/dynamicCon.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="XCLJsTool.js"  Src="/Resources/Js/XCLJsTool.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="CSS" Name="kindeditor.css"  Src="/Resources/Js/kindeditor/themes/default/default.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="kindeditor.js"  Src="/Resources/Js/kindeditor/kindeditor-all.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="kindeditor-zh_CN.js"  Src="/Resources/Js/kindeditor/lang/zh_CN.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="CSS" Name="plupload_queue.css"  Src="/Resources/Js/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="plupload_queue.js"  Src="/Resources/Js/plupload/jquery.plupload.queue/jquery.plupload.queue.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="moxie.js"  Src="/Resources/Js/plupload/moxie.min.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="plupload.js"  Src="/Resources/Js/plupload/plupload.full.min.js" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="plupload_zh_CN.js"  Src="/Resources/Js/plupload/i18n/zh_CN.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="CSS" Name="Jcrop.css"  Src="/Resources/Js/Jcrop/css/jquery.jcrop.css" Version="" Attr=""></StaticResource>
        <StaticResource Type="JS" Name="Jcrop.js"  Src="/Resources/Js/Jcrop/js/jquery.jcrop.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="jquery.color.js"  Src="/Resources/Js/jquery/jquery.color.js" Version="" Attr=""></StaticResource>

        <StaticResource Type="JS" Name="jQueryRotate.js"  Src="/Resources/Js/jQueryRotate.js" Version="" Attr=""></StaticResource>
    </StaticResourceList>
</StaticResourceConfig>