<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @Html.Partial("~/Views/MasterView/Header.cshtml")
</head>
<body>
        @RenderBody()
        @Html.Partial("~/Views/MasterView/Footer.cshtml")
</body>
</html>