<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="owin:AutomaticAppStartup" value="false" />

  <add key="WebAPIServiceURL" value="http://localhost/XCLCMS.WebAPI/api/"/>
  <add key="AppID" value="1"/>
  
  <!--当前系统所在环境（XCLCMS.Lib.Common.Comm.SysEnvironmentEnum）-->
  <add key="SysEnvironment" value="DEV"/>
</appSettings>